node_modules/
cache/
artifacts/
.idea
.DS_Store
*.swp
.env
services/chainlink/tempkeys
services/chainlink/secret
services/chainlink/log.jsonl
services/postgres/
deployments/develop
exported-data/networks/develop.ts
services/chainlink-nodes/develop**
services/chainlink-nodes/kovan**
services/chainlink-nodes/rinkeby**
services/chainlink-nodes/ethereum**
services/chainlink-nodes/polygon**
services/chainlink-nodes/mumbai**
services/chainlink-nodes/harmony**
services/chainlink-nodes/harmonytestnet**
services/ipfs/data
services/graph-protocol/postgres
networks/index.ts
subgraph/generated
subgraph/build
subgraph/deploy-subgraphs.sh
.vscode/settings.json
contracts/.deps
.vsls.json
