node_modules/
.idea
ganache/db/
chainlink/tempkeys/
chainlink/secret
chainlink/log.jsonl
postgres/develop/
postgres/harmonytestnet/
lastAddress
ipfs
.DS_Store
.env
dev-env/chainlink/tempkeys
dev-env/chainlink/secret
