MAINNET_MNEMONIC="myth like bonus scare over problem client lizard pioneer submit female collect"
TESTNET_MNEMONIC="myth like bonus scare over problem client lizard pioneer submit female collect"
DEVELOP_MNEMONIC="myth like bonus scare over problem client lizard pioneer submit female collect"

IPFS_URI=
ETHEREUM_URI=
ETHEREUM_WS_URI=
KOVAN_URI=
KOVAN_WS_URI=
MUMBAI_URI="https://matic-testnet-archive-rpc.bwarelabs.com"
MUMBAI_WS_URI="wss://matic-testnet-archive-ws.bwarelabs.com"
POLYGON_URI="https://matic-mainnet-full-rpc.bwarelabs.com"
POLYGON_WS_URI="wss://matic-mainnet-full-ws.bwarelabs.com"
HARMONYTESTNET_URI="https://api.s0.b.hmny.io"
HARMONYTESTNET_WS_URI="wss://ws.s0.b.hmny.io"
HARMONY_URI="https://api.s0.t.hmny.io"
HARMONY_WS_URI="wss://ws.s0.t.hmny.io"
DEVELOP_URI="http://localhost:8545"
DEVELOP_WS_URI="ws://localhost:8545"
