MAINNET_MNEMONIC=
TESTNET_MNEMONIC=
DEVELOP_MNEMONIC=
INFURA_PROJECT_ID=
IPFS_URI=
MUMBAI_URI=
MUMBAI_WS_URI=
POLYGON_URI=
POLYGON_WS_URI=
HARMONYTESTNET_URI=
HARMONYTESTNET_WS_URI=
ETHEREUM_URI=
ETHEREUM_WS_URI=


