MAINNET_MNEMONIC=
TESTNET_MNEMONIC=
DEVELOP_MNEMONIC=
INFURA_PROJECT_ID=
IPFS_URI=
MUMBAI_URI=
MUMBAI_WS_URI=
POLYGON_URI=Polygon mainnet network http uri
POLYGON_WS_URI=Polygon mainnet network ws uri
HARMONYTESTNET_URI= Harmony testnet network http uri
HARMONYTESTNET_WS_URI= Harmony testnet network ws uri
